* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary: red;
  --secondary: white;
  --background: #efeee9;
  
}

body, html {
  height: 100%;
  padding: 10px;
 
  
}

img {
  width: 100%;
 /* display: block; 
  align-self: stretch;*/
  object-fit: cover;
  margin-bottom: 8px;
  margin-top: 8px;
}


header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

li {
  list-style: none;
  font-family: 'Source Serif Pro', serif;
  font-weight: 100;
  font-style: normal;
  color: red;
  font-size: 1.2rem;
}

a {
  color: red;
  text-decoration: none;
}

a:hover{
  color:black;
}


.navbar {
  min-height: 70px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 50px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 100%;
}


.hamburger {
  display: none;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  li {
    list-style: none;
    font-family: bely, serif;
    font-weight: 100;
    font-style: normal;
    color: red;
    font-size: 2rem;
  }

  .bar1 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
  }
  .bar2 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
  }
  .bar3 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
  }

  .bar2.active {
    opacity: 0;
  }

  .bar1.active {
    transform: translateY(8px) rotate(45deg);
  }

  .bar3.active {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    transform: translatex();
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 16px;
  }

  .nav-menu.active {
    left: 0;
  }
}
  /* TEKST OG HERO BILDE */

  h1 {
    font-family: serif;
    color: red;
    font-size: 140px;
  }

  h2 {
    font-family: 'PT Serif', serif;
    color: red;
    font-size: 60px;
  
  }

  .hero-image {
    background-image: url(img/new.png);
    background-position: right;
    height: 95%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 10%;
    right: 10%;
  }

  .hero-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 15%;
    box-shadow: inset 0 0 0 0 red;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: serif;
    color: red;
    font-size: 140px;
    font-weight: bold;
}

.hero-text2{
  font-family: 'PT Serif', serif;
    color: red;
    font-size: 60px;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 15%;
}



@media (max-width: 800px) { 
  .hero-image {
    background-image: url(img/new.png);
    background-size: cover;
    
 }
  
    .hero-text {
      position: absolute;
      top: 50%;
      left: 20%;
     }

    h1 {
      font-family: serif;
      color: red;
      font-size: 60px;
    }

    h2 {
      font-family: 'PT Serif', serif;
      color: red;
      font-size: 35px;
    
    }

    h4 {
      font-family: 'PT Serif', serif;
      color: red;
      font-size: 20px;
    
    }

    .emnesite-text {
      text-align: left;
      position: absolute;
      top: 0%;
      left: 10%;
    }

    .hero-image-emnesite {
      background-size: cover;
      position: ;
    }

}

/* HOOVER */
    
.hero-text:hover {
    box-shadow: inset 100px 0 0 0 #DADADA;
    color: red;
  }
 
  
/* MIN PORTFOLIO */


h3 {
  font-family: serif;
  color: red;
  font-size: 90px;
}

h4 {
  font-family: 'PT Serif', serif;
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
  
}

  .text_minportfolio {
   padding-top: 20rem;
   text-align: center;
   padding-bottom: 25rem;
   font-family: serif;
   font-size: 80px;
   color: red;
   font-weight: bold;

   
  }


.row {
  width: 99%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
  padding-top: 50px;
  
  
}

.row .left {
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.row .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}

.row .right {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  
}

.row .right .content {
  padding-left: 20px;
  align-items: center;
  justify-content: center;

}

.row .right .content p {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 15px;
}

@media (max-width: 800px) { 
  .row .right .content {
    padding-left: 0;
    
  }

    .row {
      grid-template-columns: 1fr;
      
    }

    .text_minportfolio {
    font-size: 40px;
  }

  .hero-text {
    font-size: 30px;
  }
 
}


/* KNAPP */


button {
  font-size: 1em;
  font-family: 'PT Serif', serif;
  background: red;
  color: #fff;
  border: 0.15rem solid red;
  padding: 10px 25px;
  margin-top: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px;
}
button:hover {
  color: black;
}
button::after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button[class^="slide"]::after {
  transition: all 0.35s;
}
button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

/* EMNESITE */


.hero-image-emnesite {
  background-image: url(img/Emnesite\ mockup.png);
    background-position: right;
    height: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 60%;
   
  }

  .emnesite-text {
    text-align: left;
    position: absolute;
    top: 80%;
    left: 15%;
  }

  .hero-image-emnesite2 {
    background-image: url(img/emnesite_moodboard.png);
    background-position: left;
    height: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 60%;
  }

  .hero-image-emnesite3 {
    background-image: url(img/emnesite_styletile.png);
    background-position: right;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 10%;
  }

  .hero-image-emnesite4 {
    background-image: url(img/emnesite_wireframes.png);
    background-position: left;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 15%;
    left: 10%;
  }

 