* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary: red;
  --secondary: white;
  --background: #efeee9;
  
}

body, html {
  height: 100%;
  padding: 10px;
 
  
}

img {
  width: 100%;
 /* display: block; 
  align-self: stretch;*/
  object-fit: cover;
  margin-bottom: 8px;
  margin-top: 8px;
}


header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

li {
  list-style: none;
  font-family: 'Source Serif Pro', serif;
  font-weight: 100;
  font-style: normal;
  color: red;
  font-size: 1.2rem;
}

a {
  color: red;
  text-decoration: none;
  font-weight: 100;
  font-style: normal;
  font-size: 1.2rem;
  font-family:'PT Serif', serif ;
  font-weight: bold;
}

a:hover{
  color:black;
}


.navbar {
  min-height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 50px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 100%;
}


.hamburger {
  display: none;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .bar1 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
  }
  .bar2 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
  }
  .bar3 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
  }

  .bar2.active {
    opacity: 0;
  }

  .bar1.active {
    transform: translateY(8px) rotate(45deg);
  }

  .bar3.active {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    
    left: -100%;
    top: 30px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 16px;
  }

  .nav-menu.active {
    left: 0;
  }
}
  /* TEKST OG HERO BILDE */

  h1 {
    font-family: serif;
    color: red;
    font-size: 140px;
  }

  h2 {
    font-family: 'PT Serif', serif;
    color: red;
    font-size: 60px;
  
  }

  p {
    font-family: 'PT Serif', serif;
    color: black;
    font-size: 18px;
    padding-bottom: 10px; }

  .hero-image {
    background-image: url(img/new.webp);
    background-position: right;
    height: 95%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 10%;
    right: 10%;
  }

  .hero-image3 {
    background-image: url(img/ommegselv.webp);
    background-position: right;
    height: 95%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 10%;
    right: 10%;
  }

  .hero-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 15%;
    box-shadow: inset 0 0 0 0 red;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: serif;
    color: red;
    font-size: 140px;
    font-weight: bold;
}

.hero-text1{
  font-family: 'PT Serif', serif;
    color: red;
    font-size: 60px;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 15%;
}



@media (max-width: 800px) { 
  .hero-image {
    background-size: cover;
    
 }
  
    .hero-text {
      position: absolute;
      top: 50%;
      left: 20%;
     }

    h1 {
      font-family: serif;
      color: red;
      font-size: 60px;
    }

    h2 {
      font-family: 'PT Serif', serif;
      color: red;
      font-size: 30px;
    
    }

    .emnesite-text {
      text-align: left;
      position: absolute;
      top: 0%;
      left: 10%;
    }

    .hero-image-emnesite {
      background-size: cover;
      
    }

}

/* HOOVER */
    
.hero-text:hover {
    box-shadow: inset 100px 0 0 0 #DADADA;
    color: red;
  }
 
  
/* MIN PORTFOLIO */


h3 {
  font-family: serif;
  color: red;
  font-size: 90px;
}

h4 {
  font-family: serif;
  color: red;
  font-size: 20px;
  padding-bottom: 10px;
  
}

h5 {
  font-family: serif;
  color: red;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

h6 {
  font-family:'PT Serif', serif;
  color: red;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: left;


  
}

  .text_minportfolio {
   padding-top: 20rem;
   text-align: center;
   padding-bottom: 25rem;
   font-family: serif;
   font-size: 80px;
   color: red;
   font-weight: bold;

   
  }


.row {
  width: 99%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5px;
  
  
}

.row .left {
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.row .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}

.row .right {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.row .right .content {
  padding-left: 20px;
  align-items: center;
  justify-content: center;

}

.row .right .content p {
  font-family: 'PT Serif', serif;
  color: black;
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 30px;
}




/* KNAPP */


button {
  font-family: 'PT Serif', serif;
  background: red;
  color: #fff;
  border: 0.15rem solid red;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px;
}
button:hover {
  color: black;
}
button::after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button[class^="slide"]::after {
  transition: all 0.35s;
}
button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

/* EMNESITE */


 
.text_tittel {
  padding-top: 27%;
  text-align: left;
  padding-left: 8%;
  font-family: serif;
  font-size: 140px;
  color: red;
  font-weight: bold;
 }

 .text_tittel2:hover {
  box-shadow: inset 90px 0 0 0 #DADADA;
  color: red;
}

 .text_tittel2 {
  text-align: left;
  padding-left: 8%;
  font-family: serif;
  font-size: 60px;
  color: red;
  font-weight: bold;
  box-shadow: inset 0 0 0 0 red;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
 }
 
 .grid_1_1_tema {
  width: 99%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
  padding-top: 50px;
  
  
}

.grid_1_1_tema .left {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-top: 85px;
}

.grid_1_1_tema .right img {
  height: 80%;
  object-fit: cover;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.content {
  padding-top: 40px;
  padding-left: 119px;
  align-items: center;
  justify-content: center;

}

.grid_1_1_tema .left .content p {
  font-family: 'PT Serif', serif;
  color: black;
  font-size: 18px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.grid_1-1-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-bottom: 10px; 
}

@media (max-width: 800px) { 
  .row .right .content {
    padding-left: 0;
    padding-top: 0;
    
  }

    .row {
      grid-template-columns: 1fr;
      
    }

    .row .left img {
      padding-top: 20px;
    }

    .text_minportfolio {
    font-size: 40px;
    
  }

  .hero-text {
    font-size: 30px;
  }

  .text_tittel {
    font-size: 50px;
    padding-top: 15rem;
    padding-left: 0;
    text-align: center;
  }

  .text_tittel2 {
    font-size: 30px;
    padding-left: 0;
    text-align: center;

  } 

  .grid_1_1_tema {
    grid-template-columns: 1fr;
  }

  .grid_1_1_tema .left {
    padding-top: 20rem;
  }

  .content {
    padding-left: 0;
    text-align: center;
  }

  .grid_1-1-images {
    grid-template-columns: 1fr;
  }

  .grid_1_1_tema .right img {
   height: 100%;
  }

  .grid_1_1_tema .left .content p {
    padding-top: 60px;
  }
 
}

/* OMMEG */

.image_ommeg {
width: 30rem; }

.tekst_ommeg {
  margin-top: 10rem;
  margin-bottom: 7rem;
  margin-left: 13rem;
  margin-right: 13rem;
 
}

.left_ommeg{
  padding-left: 85px;
}

@media (max-width: 800px) { 
.tekst_ommeg {
  margin-top: 10rem;
  margin-left: 10px;
  margin-right: 15px;}

  .left_ommeg{
    padding-left: 0;
  }

  .hero-image3{
   background-size: cover;}

   .image_ommeg {
    width: 20rem;
    align-items: center;
    padding-left: 120px; }

    h6{
      text-align: center;
    }
  

}

/* FOOTER */

footer {

  background: rgb(243, 243, 243);
  height: auto;
  font-family: 'PT Serif', serif;
  padding: 40px 0;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: black;
}

.footer .social a {
  font-size: 25px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover{
opacity: 0.95;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a{
  color: inherit;
  text-decoration: none;
  font-size: 15px;
}

.footer ul li {
  color: inherit;
  display: inline-block;
  padding: 0 15px;
}